.numbers {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-top: 0px;
}

.buttons {
    button {
        background: transparent;
        &:hover {
            border: 2px solid red;
        }
    }
}

.numbers-label {
    margin-bottom: 0px;
    display: flex;
    width: 250px;
    justify-content: space-around;
}

.chronometer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8% auto;
    border: 4px solid red;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    z-index: 2;
    overflow: hidden;
    .title {
        border-bottom: 1px solid red;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
}